<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hobbies">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Chart"
            android:label="@string/title_activity_chart"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ViewHobby"
            android:label="@string/title_activity_view_hobby"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditHobby"
            android:label="@string/title_activity_edit_hobby"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hobbies"
            android:label="@string/title_activity_hobbies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddHobby"
            android:label="@string/title_activity_add_hobby"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HobbyInterface"
            android:label="@string/title_activity_hobby_interface"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>